*.yaml linguist-language=Dockerfile
*.frml linguist-language=Dockerfile
front/DataBaseAndHadoop filter=lfs diff=lfs merge=lfs -text
front/DataBaseAndHadoop/hadoop/softwares/hadoop-2.6.0-cdh5.9.3.tar.gz filter=lfs diff=lfs merge=lfs -text
